<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="data:text/css;base64,{{ .Styles }}"/>
    <title>{{ .Title }}</title>
</head>
<body>
    <div id="loader">Loading...</div>
    <div id="header">
        <img id="brand" src="/img/logo.png"/>
        <span id="title">{{ .Title }}</span>
    </div>
    <div id="content" style="display: none">
        <input id="engineURL" type="hidden" value="{{ .EngineURL }}"/>
        <input id="surveyName" type="hidden" value="{{ .SurveyName }}"/>
        <button id="btnLoad" style="display: none">Load Survey</button>
        <div id="survey"></div>
        <div id="results"></div>
        <div id="errors" style="display: none"></div>
        <button id="btnEvaluate" style="display: none">Submit</button>
    </div>
    <script type="text/javascript" src="data:text/javascript;base64,{{ .Scripts }}"></script>
</body>
</html>
